<!--
  templateType: membership_login_page
  isAvailableForNewContent: true
  label: Academia - membership login
  screenshotPath: ../../images/template-previews/membership-login.png
-->
{% set template_css = '../../css/templates/system.css' %}
{% extends '../layouts/base.html' %}
{# pageTitle is used on system templates for setting a value for the title tag #}
{% set pageTitle = "Rooftop Franquias | Login" %}

{% block header %}
{% endblock %}

{% block body %}
<section class="content-wrapper">
  <div class="systems-page membership-login-header">
    {% module 'content'
      path='@hubspot/rich_text',
      html='<h1>Faça login para ver seus negócios</h1><p>Esta página está disponível apenas para pessoas que receberam acesso.</p>'
    %}
    <div class="form-container ac-membership-login__form">
      {% member_login 'my_login'
        email_label= 'Email',
        password_label= 'Password',
        remember_me_label= 'Lembrar',
        reset_password_text= 'Esqueceu sua senha?',
        submit_button_text= 'Login'
      %}
    </div>
    <div>
      {% module_block module 'membership_admin_content'
        label='Contate o administrador',
        path='@hubspot/rich_text'
      %}
        {% module_attribute 'html' %}
          <p>Está com problemas? <a href="{{'mailto:' ~ site_settings.membershipWebsiteAdmin}}">Contate o administrador</a>.</p> 
        {% end_module_attribute %}
      {% end_module_block %}
    </div>
  </div>
</section>
{% endblock %}